In [1]:

import sys
from cv2 import imread
import numpy as np
import pandas as pd
#from atom import Atom
from etl import lweather
import glob, os

In [2]:
images = 'images'
weather = 'weather'

In [3]:
weather = lweather(weather, images)

Reading weather
Merging weather with associated images...

In [4]:
weather.head(10)

         Weather         Date/Time                            Images
0  Mostly Cloudy  2016-10-01 00:00  images/katkam-20161001000000.jpg
1  Mostly Cloudy  2016-10-01 01:00  images/katkam-20161001010000.jpg
2  Mostly Cloudy  2016-10-01 02:00  images/katkam-20161001020000.jpg
3           Rain  2016-10-01 03:00  images/katkam-20161001030000.jpg
4         Cloudy  2016-10-01 04:00  images/katkam-20161001040000.jpg
5         Cloudy  2016-10-01 05:00  images/katkam-20161001050000.jpg
6         Cloudy  2016-10-01 06:00  images/katkam-20161001060000.jpg
7         Cloudy  2016-10-01 07:00  images/katkam-20161001070000.jpg
8   Rain Showers  2016-10-01 08:00  images/katkam-20161001080000.jpg
9   Rain Showers  2016-10-01 09:00  images/katkam-20161001090000.jpg

In [9]:
weather['Weather'].shape

(13176,)

In [ ]:
def main(images, weather):
    '''
    '''
    print('Processing and cleaning data... ')
    weather = Atom(weather)
    

if __name__=='__main__':
#     images = sys.argv[1]
#     weather = sys.argv[2]
    images = 'images'
    weather = 'weather'
    main(images, weather)