In [1]:

import sys
from cv2 import imread
import numpy as np
import pandas as pd
#from atom import Atom
from etl import lweather
import glob, os

In [2]:
images = 'images'
weather = 'weather'

In [3]:
weather = lweather(weather, images)

Reading weather
Merging weather with associated images...

In [4]:
weather.head(10)

,Weather,Date/Time,Images
6,Cloudy,2016-10-01 06:00,"[[[2, 5, 3], [3, 6, 4], [3, 6, 4], [4, 7, 5], ..."
7,Cloudy,2016-10-01 07:00,"[[[233, 165, 128], [234, 166, 129], [236, 168,..."
8,Rain Showers,2016-10-01 08:00,"[[[161, 159, 151], [162, 160, 152], [164, 162,..."
9,Rain Showers,2016-10-01 09:00,"[[[219, 220, 218], [219, 220, 218], [219, 220,..."
10,Mostly Cloudy,2016-10-01 10:00,"[[[181, 175, 170], [182, 176, 171], [182, 176,..."
11,Mostly Cloudy,2016-10-01 11:00,"[[[216, 213, 209], [216, 213, 209], [216, 213,..."
12,Mostly Cloudy,2016-10-01 12:00,"[[[144, 141, 136], [144, 141, 136], [145, 142,..."
13,Cloudy,2016-10-01 13:00,"[[[234, 235, 233], [234, 235, 233], [235, 236,..."
14,Rain Showers,2016-10-01 14:00,"[[[213, 210, 205], [213, 210, 205], [214, 211,..."
15,Rain Showers,2016-10-01 15:00,"[[[236, 237, 233], [236, 237, 233], [236, 237,..."

In [ ]:
weather.shape

In [ ]:
def main(images, weather):
    '''
    '''
    print('Processing and cleaning data... ')
    weather = Atom(weather)
    

if __name__=='__main__':
#     images = sys.argv[1]
#     weather = sys.argv[2]
    images = 'images'
    weather = 'weather'
    main(images, weather)